header button:hover {
    background-color: black !important;
    color: white !important;

}
.container-bg {
    background-image: url(../images/backgroundimage.jpg) !important; 
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 300px;
}